* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", serif;
}

.displayFlex{
  display: flex;
}

.flexColumn{
  flex-direction: column;
}

.justifyContentCenter{
  justify-content: center;
}

.alignItemsCenter{
  align-items: center;
}

.appContainer{
  height: 100vh;
  overflow-y:hidden;
}

.container{
  width: 100%;
}

.gap10{
  gap:15px;
}
.padding15{
  padding:15px;
}